/* General page styling */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(16,20,28);
  color: #fff;
}

/* .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
} */

p{
  color: rgb(139, 151, 171);
}

.page-header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.icon-box {
  background-color: rgba(100, 180, 255, 0.1);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  margin: auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 40px;
}
.line {
  position: absolute;
  left: 20px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(60, 60, 65);
}
.timeline-item {
  position: relative;
  margin-bottom: 50px;
}
.timeline-item .iconen {
  position: absolute;
  left: -26px;
  top: 0;
  background-color: hsl(152, 68%, 38%);
  /* color: rgb(255, 255, 255); */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(20, 20, 25);
}
.timeline-item .iconen.muted {
  background-color: rgb(80, 80, 90);
}
.card {
  background-color: rgb(26, 29, 35,0.8);
  border: 0.5px solid hsl(152, 3%, 21%);
  border-radius: 12px;
  padding: 20px;
  transition:0.3s;
}
.card:hover {
  border: 0.5px hsl(152, 68%, 38%);
  box-shadow: 0 0 12px hsl(152, 68%, 38%);
}
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.badge {
  background-color: hsl(152, 68%, 38%);
  color: white;
  padding: 2px 8px;
  border-radius: 9999999px;
  font-size: 12px;
}
.badge-outline {
  border: 1px solid hsl(152, 3%, 21%);
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 12px;
  color: rgb(200, 200, 200);
}
ul {
  list-style: none;
  padding-left: 20px;
  color: rgb(139, 151, 171);
  display: flex;
  flex-flow: column;
  gap: 12px;
  justify-content: space-between;
}
ul li::before {
  content: "▸ ";
  color: hsl(152, 68%, 38%);
}
/* a {
  color: rgb(100, 180, 255);
}
a:hover {
  text-decoration: underline;
} */

.active{
    color: hsl(152, 68%, 38%);
}